doctype html
html(lang='en')
 head
   title= title
   link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
   link(rel="stylesheet", href="/css/main.css")
   script(src='https://unpkg.com/htmx.org@1.5.0')
   style. 
     body {padding: 20px, font-family: font}
     table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}
     tr.htmx-swapping td {opacity: 0;transition: opacity 0.5s ease-out;}
     td, th {border: 1px solid #383737;text-align: left;padding: 8px;}
     tr:nth-child(even) {background-color: #dddddd;}
 body
   if navbar
    h1 Navbar
   h1= heading
   form(hx-post="/submit" hx-swap="beforeend" hx-target="#new-book" class="mb-3")
     input(type="text" placeholder= tableHeading1 name="title" class="form-control mb-3")
     input(type="text" placeholder= tableHeading2 name="author" class="form-control mb-3")
     button(type="submit" class="btn btn-primary") Submit
   table
     thead 
       tr 
         th= tableHeading1 
         th= tableHeading2
     tbody(id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:0.5s")
       each book in books
         tr 
           td #{book.name}
           td #{book.author} 
           td 
             button(class="btn btn-primary" hx-get=`/get-edit-form/${book.id}`) Edit 
           td 
             button(hx-delete=`/delete/${book.id}` class="btn btn-primary") Delete